<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <banner>
        <h1><%= test %> - result</h1>
        <p class="classification"><%= result.name %></p>
      </banner>
      <article>
        <header>
          <h2><%= result.title %></h2>
        </header>
        <section>
          <%- result.content %>
        </section>
      </article>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
