<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <article>
        <header>
          <h1>Search Result:</h1>
        </header>
        <% if(Object.keys(tests).length != 0) { %>
          <section class="card-container">
            <% Object.keys(tests).forEach(function (id) { %>
              <div class="card<% if (tests[id].invisible) { %><%=' invisible' %><% } %>">
                <div>
                  <div class="card-info">
                    <figure>
                      <img src="/image/<%= tests[id].image %>" alt="<%= tests[id].name %> icon">
                    </figure>
                    <div>
                      <h2><%= tests[id].name %></h2>
                      <p>Estimate time: <%= tests[id].time %> min</p>
                      <p>Questions: <%= tests[id].questions %></p>
                    </div>
                  </div>
                  <div class="description">
                    <p><%= tests[id].description %></p>
                  </div>
                </div>
                <button class="test-button" value="<%= tests[id].name %>">Enter</button>
              </div>
            <% }) %>
          </section>
        <% } else { %>
          <p> no result </p>
        <% } %>
      </article>
    </main>
    <%- include('../partials/footer') %>
  </body>
  <script src="/js/main.js"></script>
  <script src="/js/interesting-tests.js"></script>
</html>
