<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div class="timer-container">
      <div class="timer">
        <p>Estimate time: <span id="estimate-time"><%= time %></span></p>
        <p>Time used: <span id="timer">0:00:00</span></p>
        <div class="progress"><p>Progress: <span id="progress">0.0%</span></p></div>
      </div>
      </div>
    <main>
      <a name="error"></a>
      <banner>
        <h1><%= test %> - test</h1>
      </banner>
      <section class="question-container">
        <div class="instruction">
          <p>Before the test:</p>
          <ol>
            <li>This test should not be used for medical evaluation.</li>
            <li>There are no right or best answers to any of these questions.</li>
            <li>Do not over-analyze any questions, just choose the question that first come to your mind.</li>
            <li>Questions are about what you are, but not the way you’d like to be seen by others. </li>
            <li>Don't have to (but highly recommended) strictly finished the test within the recommended time.</li>
          </ol>
          <a name="begin"></a>
          <p>Tips:</p>
          <ol>
            <li>The indicator at the right of each question indicates if the question has been finished. Gray - not finished yet; Orange - finished.</li>
            <li>Hover your mouse on the penal at right top will make it more clear for seconds.</li>
            <li>The panel always show your progress as a bar and a percentage when you hover.</li>
          </ol>
          <div class="center">
            <button class="submit" id="ready">I'm Ready!</button>
          </div>
        </div>
        <div class="error-message" id="error"><%= test %></div>
        <div id="question-area" class="display-none">
          <% for (let i = 0; i < data.length; i++) { %>
            <div class="ques<% if (i % 2 === 0) {%><%= ' dark' %><% } %>">
              <div>
                <div>
                  <p>Q<%= i + 1 %>. <%= data[i].questions %></p>
                </div>
                <ul>
                  <% for (let j = 0; j < data[i].options.length; j++) { %>
                  <li>
                    <input type="radio" id="<%= i + '-'+ j %>" name="<%= i %>" value="<%= data[i].options[j].comment %>">
                    <label for="<%= i +'-'+ j %>"><%= data[i].options[j].content %></label>
                  </li>
                  <% } %>
                </ul>
              </div>
              <div class="indicator">
              </div>
            </div>
          <% } %>
          <div class="center">
            <button class="submit loading" id="submit">Submit</button>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
  <script type="module" src="/js/main.js"></script>
  <script type="module" src="/js/test-page.js"></script>
</html>
