<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <banner>
        <h1><%= test %> - test</h1>
      </banner>
      <section class="question-container">
        <div class="instruction">
          <p>Before the test:</p>
          <ol>
            <li>This test should not be used for medical evaluation.</li>
            <li>There are no right or best answers to any of these questions.</li>
            <li>Do not over-analyze any questions, just choose the question that first come to your mind.</li>
            <li>Questions are about what you are, but not the way you’d like to be seen by others. </li>
          </ol>
        </div>
        <% for (let i = 0; i < data.length; i++) { %>
          <div class="ques<% if (i % 2 === 0) {%><%= ' dark' %><% } %>">
            <p>Q<%= i + 1 %>. <%= data[i].questions %></p>
            <ul>
              <% for (let j = 0; j < data[i].options.length; j++) { %>
              <li>
                <input type="radio" id="<%= i + '-'+ j %>" name="<%= i %>" value="<%= data[i].options[j].comment %>">
                <label for="<%= i +'-'+ j %>"><%= data[i].options[j].content %></label>
              </li>
              <% } %>
            </ul>
          </div>
        <% } %>
        <div class="center">
          <div class="error-message" id="error"><%= test %></div>
          <button class="submit loading" id="submit">Submit</button>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
  <script type="module" src="/js/main.js"></script>
  <script type="module" src="/js/test-page.js"></script>
</html>
